.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegúrate de que ocupe toda la altura de la ventana */
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    background-image: url('../../public/images/image.png'); /* Ruta relativa a tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: calc(100% - 40px); /* Ajusta el ancho para que no se superponga con los márgenes */
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.user-profile {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.user-profile img {
    margin-right: 10px;
}

.user-profile p {
    margin: 0;
}

.message-sent {
    text-align: right;
    background-color: #dcf8c6;
    border-color: #badbcc;
    border-radius: 15px 15px 0 15px;
    padding: 10px;
    margin: 5px 0;
    max-width: 60%;
    float: right;
    clear: both;
}

.message-received {
    text-align: left;
    background-color: #ffffff;
    border-color: #f5c2c7;
    border-radius: 15px 15px 15px 0;
    padding: 10px;
    margin: 5px 0;
    max-width: 60%;
    float: left;
    clear: both;
}